.billboard {
  margin-bottom: 70px;
  position: relative;
  background: #fcefe7;
  .billboard-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 875px) {
      flex-direction: column-reverse;
    }
  }

  .plane-container {
    max-width: 400px;
    position: absolute;
    top: 250px;
    left: -80px;

    @media screen and (max-width: 875px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  h1 {
    font-weight: 700;
    @media screen and (max-width: 875px) {
      line-height: 50px;
      text-align: left;
    }
  }

  .billboard-left {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 875px) {
      width: 100%;
    }

    p {
      color: #191919;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 1.2em;
      font-weight: 600;
      text-align: left;
      line-height: 25px;
      font-weight: bold;

      @media screen and (max-width: 875px) {
        font-size: 0.9em;
      }
    }

    .btn-main {
      margin-bottom: 50px;
      align-self: flex-start;
      border-radius: 1000px;
    }
  }

  .billboard-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .img-container {
    position: relative;

    .speech {
      position: absolute;
      right: -50px;
      top: 200px;
      background: #03078d;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      border: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 0 4px 30px 0 rgba(87, 87, 87, 0.2);

      @media screen and (max-width: 875px) {
        display: none;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .iphone {
    max-width: 200px;
    width: 100%;
  }

  input {
    width: 70%;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-bottom: solid 3px #fe8d01;
    padding-bottom: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Open Sans";
    font-size: 16px;
    color: #fe8d01;
    padding-left: 12px;
    border-radius: 0;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fe8d01;
    }
  }
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffd199;
  position: relative;
  bottom: 10px;

  .title {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 50px;
    font-weight: 500;
  }

  .column-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 875px) {
      flex-wrap: wrap;
    }

    .column {
      display: flex;

      @media screen and (max-width: 1010px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @media screen and (max-width: 875px) {
        align-items: center;
        text-align: center;
      }
    }
  }

  .column-title {
    font-family: "Open Sans";
    color: #fe8d01;
  }

  .column-text {
    padding-left: 20px;

    @media screen and (max-width: 875px) {
      padding-left: 0;
    }
  }

  .img-container {
    max-width: 70px;
    img {
      width: 100%;
    }
  }
}

footer {
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Open Sans";

  .footer-cta {
    margin-bottom: 50px;
  }

  .logo {
    font-size: 1.2em;
    text-align: right;
    display: block;
  }

  h2 {
    color: #fe8d01;
  }

  .links {
    text-align: right;
    width: 100%;
    a {
      text-decoration: underline;
      color: #fe8d01;
    
     
      text-align: right;
    }
  }
}

.free {
  color: #ea6310 !important;
}

.emoji {
  font-size: 30px;
}

.number {
  width: 40px;
  height: 40px;
  background: #fe8d01;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9000px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.cta {
  h2 {
    color: #fe8d01;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  text-align: center;
}

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f2f2f2;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    text-align: center;
  }

  .question-button {
    width: 100%;
    text-align: left;
    padding: 25px;
    background-color: #f2f2f2;
    border: 0;
    color: #191919;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #a9a9a9;

    &:hover {
      background-color: #d9d9d9;
    }

    .plus {
      float: right;
      color: #191919;
      font-size: 2em;
      transition: 0.3s ease-in-out;
    }
  }

  .answer-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    .answer {
      padding: 18px;
      color: #191919;
      background: #f2f2f2;
    }
  }

  .question-open {
    background-color: #f2f2f2;
  }

  .rotate-plus {
    transform: rotate(45deg);
  }
}
